.organization{
    margin-top: 1rem;
    justify-content: space-around;
}
.tap-wrap{
    margin: 5% 15%;
}
.group-header{
    display: flex;
}
.content-title{
    margin-right: 1.3rem;
}

.organization-tree-wrap{
    flex-direction: column;
}
.organization p{
    margin-bottom: 0;
}
.organization-search-wrap{
    display: flex;
}
.organization-modal-content{
    display: flex;
    justify-content: space-around;
}
.organization-modal-content > input{
    text-align: right;
}
.nav-link{
    color: #495057;
}
.agent-header{
    display: flex;
}